table:not(.pika-table):not(.gl-table) {
  width: 100%;
  color: $text-color;
  border: $border-width solid $border-color;
  border-collapse: collapse;
  text-align: left;
  @extend .gl-mb-6;

  thead {
    background: $gray-50;
    border-bottom: ($border-width * 2) solid $border-color;

    th {
      font-weight: $font-weight--bold;
    }
  }

  th,
  td {
    border: $border-width solid $border-color;
    padding: $gl-spacing-3;
    font-weight: $font-weight--normal;

    &.header {
      font-weight: $font-weight--bold;
      background: $gray-50;
    }
  }

  td.f-bold{
    font-weight: $font-weight--bold;
  }
}

th,
td {
  vertical-align: top;
}

.status-table {
  table-layout: fixed;

  th {
    position: sticky;
    top: -2px;
    z-index: 100;
  }
}

// Compact table

.table-compact {

  p,
  ul {
    @include type-scale(0, 6, 0, 0);
    margin-bottom: 0.5em;
  }

  ul {
    margin-top: 0;
  }
}
